
@{
    ViewBag.Title = "Search";
}


<div class="container">
    <form class="form-inline">
        <label for="query">Search For GIFs</label>
        <br />
        <div class="form-group">
            <input class="form-control" id="query" name="query" type="text" placeholder="Search Giphy..." />
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="button" id="search" name="search" value="Search" />
        </div>
    </form>
</div>

@* Display area for results, Hidden until the button is pressed *@
<div id="results" style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 gif-col">
                <img id="gif-1" src="" />
            </div>
            <div class="col-sm-4 gif-col">
                <img id="gif-2" src="" />
            </div>
            <div class="col-sm-4 gif-col">
                <img id="gif-3" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 gif-col">
                <img id="gif-4" src="" />
            </div>
            <div class="col-sm-4 gif-col">
                <img id="gif-5" src="" />
            </div>
            <div class="col-sm-4 gif-col">
                <img id="gif-6" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 gif-col">
                <img id="gif-7" src="" />
            </div>
            <div class="col-sm-4 gif-col">
                <img id="gif-8" src="" />
            </div>
            <div class="col-sm-4 gif-col">
                <img id="gif-9" src="" />
            </div>
        </div>

        @* Pagination a bottom of n results *@

    </div>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/giphy.js"></script>
}