@model IEnumerable<ArtVault.Models.Genre>
@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h2>Art Vault</h2>
    <p>Welcome to the Art Vault. Please no flash phtography.</p>
</div>

<div class="btn-group">
    @foreach(var genre in Model)
    {
        <input class="btn btn-default" type="button" name=@genre.Name value=@genre.Name id=@genre.Name  />
    }
</div>