<!-- Razor script to set the page title -->
@{
    ViewBag.Title = "Home";
}

<!-- Page title header -->
<h2>Home</h2>

<!-- Create a list (ul) that contains links to
     the other pages using razor HTML helper methods -->
<ul>
    <li>Page 1 (Razor) link Here</li>
    <li>Page 2 (Razor) link Here</li>
    <li>Page 3 (Razor) link Here</li>
</ul>