<!-- Razor script to set the page title -->
@{
    ViewBag.Title = "Home";
}

<!-- Page title header -->
<div class="page-header">
    <h2>Home</h2>
</div>

<!-- Create a list (ul) that contains links to
     the other pages using razor HTML helper methods -->
<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Page 1", "Page1", "Home")</li>
    <li class="list-group-item">@Html.ActionLink("Page 2", "Page2", "Home")</li>
    <li class="list-group-item">@Html.ActionLink("Page 3", "Page3", "Home")</li>
</ul>