
@{
    ViewBag.Title = "Page 2";
}

<h2>Page 2 - Calculator</h2>
<p>App Instructions go here!</p>
<hr />
<br />
<div class="container">
    <form method="post" class="form-horizontal">
        <div class="form-group">
            <!--Text field for entering the equation-->
            <label for="equation">Equation</label>
            <input type="text" class="form-control" name="equation" />
            <!--Radio to select the type of calculator to use (PostFix)-->
            <div class="radio-inline">
                <label for="pf">Postfix</label>
                <input type="radio" value="postfix" name="type" id="pf" checked="checked" />
            </div>
            <!--Radio to select the type of calculator to use (InLine)-->
            <div class="radio-inline">
                <label for="in">Infix</label>
                <input type="radio" value="infix" name="type" id="in" />
            </div>
        </div>
        <div class="form-group">
            <!--Number field for selecting the number of decimal places in solution-->
            <label for="decimalPlaces">Number of Decimal Places (Solution)</label>
            <input type="number" class="form-control" name="decimalPlaces" />
            <br />
            <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
    </form>
</div>

@if(IsPost)
{
    <hr />
    <br />
    <p>Solution goes here</p>
}