body {

    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
#homeLogo.img-responsive {
    margin: 0 auto;
}

table {
    border: 1px solid;
    border-color: lightgray;
}

thead {
    background-color: darkblue;
    
}

thead th {
    color: aliceblue;
    border: 1px inset;
    min-width: 80px;
}
#formatHeader {
    font-size: x-small;
    background-color: grey;
}

#formatHeader th {
    color: lightgrey;
}

form #long {
    min-width: 76%;
}

form #medium {
    min-width: 45%;
}

form #small {
    min-width: 30%;
    color: red;
}