
@{
    ViewBag.Title = "Home";
}
<div class="page-header text-center">
    <h2>DMV | Change of Address</h2>
</div>
<div class="container">
    <div class="row text-center">
        <img class="img-responsive" src="~/Assets/oregon-dmv.jpg" alt="Oregon DMV"
             height="300" width="500" id="homeLogo" />
    </div>
    <div class="row text-center">
        <div class="btn-group">
            @Html.ActionLink("Current Requests", "Index", "Requests", null, new { @class = "btn btn-default" })
            @Html.ActionLink("New Request", "New", "Requests", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>