html, body {
    height: auto;
    }
body {
    padding-top: 60px;
    background-image: url("assets/HW1-SiteBG.jpg");
    background-color: #0D0D0D;
}
#main-container {
    max-width: 90%;
    min-height: auto;
    background-image: url("assets/HW1-containerBG.jpg");
    background-color: #f2f2f2;
}
#header-row {
    padding-bottom: 8px;
}
#img-row {
    padding-bottom: 10px;
}